// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container {
	width: 750px;

}



.col-xs-9 {
    width: 25%;
    position: relative;
}


.col-xs-9 {
    width: 75%;
    position: relative;
}
